<% layout('layouts/boilerplate') %>

<a href="/kcalog/db/ingredients" class="btn btn-light btn-lg my-3">All Ingredients</a>

<h2 class="display-5 fw-semibold">Edit Ingredient</h2>

<form action="/kcalog/db/ingredients/<%= ingredient._id %>?_method=PUT" method="post" class="col-lg-10 mx-auto">
    <!-- NAME -->
    <div>
        <label for="name" class="d-block fs-3 mt-4 mb-3 form-label">Name</label>
        <input type="text" id="name" name="ingredient[name]" class="mx-auto text-center form-control" required value=<%= ingredient.name %>>
        <p class="text-danger mb-0 d-none" id="not-unique">an ingredient with this name already exists</p>
    </div>

    <div class="row">
        <!-- CATEGORY -->
        <div class="col">
            <label for="category" class="d-block fs-3 mt-4 mb-3 form-label">Category</label>
            <select id="category" name="ingredient[category]" class="mx-auto text-center form-control pointer" required>
                <% for (let category of allCategories) { %>
                    <option value="<%= category %>" <%= (category === ingredient.category) ? 'selected' : ''%>>
                        <%= category %>
                    </option>
                <% } %>
            </select>
        </div>
        
        <!-- UNIT -->
        <div class="col">
            <label for="unit" class="d-block fs-3 mt-4 mb-3 form-label">Unit</label>
            <select id="unit" name="ingredient[unit]" class="mx-auto text-center form-control pointer" required>
                <% for (let unit of ['gram', 'millilitre', 'piece']) { %>
                    <option value="<%= unit %>" <%= (unit === ingredient.unit) ? 'selected' : ''%>>
                        <%= unit %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>

    <!-- KCAL PER UNIT -->
    <div>
        <label for="kcalPerUnit" class="d-block fs-3 mt-4 mb-3 form-label">Kcal Per Unit</label>
        <input type="number" min="0" step="any" id="kcalPerUnit" name="ingredient[kcalPerUnit]" class="mx-auto text-center form-control" required value=<%= ingredient.kcalPerUnit %> >
    </div>

    <button type="submit" class="btn btn-secondary mt-4" id="submit">Update Ingredient</button>

</form>

<!-- to share w/ meal.js the allNames array -->
<script>
    const allNames = <%- JSON.stringify(allNames) %>;
    const allCategories = <%- JSON.stringify(allCategories) %>;
    const ingredient =  <%- JSON.stringify(ingredient) %>;
</script>

<script src="/scripts/ingredients.js"></script>