<% layout('layouts/boilerplate') %>

<form action="/kcalog/db/ingredients/new">
    <button class="btn btn-success btn-lg">New Ingredient</button>
</form>

<% if (category === 'all') { %>
    <h2 class="display-5 fw-semibold my-3">All Ingredients</h2>
<% } else { %>
    <h2 class="display-3 fw-semibold my-3 text-capitalize"><%= category %></h2>

    <a href="/kcalog/db/ingredients" class="btn btn-light">All Ingredients</a>
<% } %>

<div class="d-flex flex-wrap justify-content-center">
    <% for (let ing of allIngredients) { %>
        <section class="border border-secondary m-4 p-3">
            <h3 class="fs-2"><%= ing.name %></h3>
            <p class="text-capitalize">Kcal Per <%= ing.unit %>: <%= ing.kcalPerUnit %></p>
            <p class="mb-3">Category: 
                <a href="/kcalog/db/ingredients?category=<%= ing.category %>" class="btn btn-light"><%= ing.category %></a>
            </p>

            <div class="d-flex justify-content-between">
                <a href="/kcalog/db/ingredients/<%= ing._id %>/edit" button class="btn btn-warning">Edit</a>

                <form action="/kcalog/db/ingredients/<%= ing._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </section>
    <% } %>
</div>
