<% layout('layouts/boilerplate') %>

<form action="/db/ingredients/new">
    <button class="btn btn-light btn-lg">New Ingredient</button>
</form>

<h2 class="display-5 fw-semibold my-3">All Ingredients</h2>

<div class="d-flex flex-wrap justify-content-center">
    <% for (let category of allCategories) { %>
        <button class="btn btn-light mx-3 my-2 category-button"><%= category %></button>
    <% } %>
</div>

<% for (let category of allCategories) { %>
    <h2 id="<%= category %>" class="display-6 fw-semibold text-capitalize mt-4 mb-0"><%= category %></h2>
    <div class="d-flex flex-wrap justify-content-center mb-5">
        <% for (let ing of allIngredients) { %>
            <% if (ing.category === category) { %>
                <section class="d-flex justify-content-between align-items-center border-bottom border-secondary py-3 col-12 col-lg-5 mx-lg-3" id="id_<%= ing.id %>">
                    <h4 class="fs-3 mb-0 text-start"><%= ing.name %></h3>

                    <small class="text-capitalize mb-0 mx-2">Kcal Per <%= ing.unit %>: <span class="fs-5"><%= ing.kcalPerUnit %></span></small>

                    <div class="d-flex justify-content-between">
                        <a href="/db/ingredients/<%= ing._id %>/edit" button class="btn btn-secondary me-2">Edit</a>

                        <form action="/db/ingredients/<%= ing._id %>?_method=DELETE" method="post" id="<%= ing.name %>" class="delete-form">
                            <button type="submit" class="btn btn-secondary">Delete</button>
                        </form>
                    </div>
                </section>
            <% } %>    
        <% } %>
    </div>
<% } %>

<script>    
    const intoView = <%- JSON.stringify(intoView) %>;
</script>

<script src="/scripts/ingredients.js"></script>
<script src="/scripts/deleteForms.js"></script>