<% layout('layouts/boilerplate') %>

<form action="/db/ingredients/new">
    <button class="btn btn-light btn-lg">New Ingredient</button>
</form>

<% if (category === 'all') { %>
    <h2 class="display-5 fw-semibold my-3">All Ingredients</h2>
<% } else { %>
    <h2 class="display-3 fw-semibold my-3 text-capitalize"><%= category %></h2>

    <a href="/db/ingredients" class="btn btn-light">All Ingredients</a>
<% } %>

<div class="d-flex flex-wrap justify-content-center">
    <% for (let ing of allIngredients) { %>
        <section class="border border-secondary m-4 p-3" id="id_<%= ing.id %>">
            <h3 class="fs-2"><%= ing.name %></h3>
            <a href="/db/ingredients?category=<%= ing.category %>" class="btn btn-sm btn-light mb-2"><%= ing.category %></a>

            <p class="text-capitalize">Kcal Per <%= ing.unit %>: <%= ing.kcalPerUnit %></p>

            <div class="d-flex justify-content-between">
                <a href="/db/ingredients/<%= ing._id %>/edit" button class="btn btn-secondary">Edit</a>

                <form action="/db/ingredients/<%= ing._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </form>
            </div>

        </section>
    <% } %>
</div>

<script>
    const intoView = <%- JSON.stringify(intoView) %>;
</script>

<script src="/scripts/ingredients.js"></script>