<% layout('layouts/boilerplate') %>

<a href="http://localhost:8080/kcalog/db/meals/new" class="btn btn-warning btn-lg">New Meal</a>

<h2 class="display-5 fw-semibold my-3">All Meals</h2>

<div class="d-flex flex-wrap justify-content-center">
    <% for (let meal of allMeals) { %>
        <section class="border border-secondary m-4 p-3 text-start col-8 col-lg-4">
            <h3 class="fs-3"><%= meal.name %></h3>
            <div class="row">
                <div class="col">
                    <p>Total Kcal: <%= meal.totalKcal %></p>
                    <p>Total Grams: <%= meal.totalGrams %></p>
                    <p>Kcal Per Gram: <%= meal.kcalPerGram %></p>
                    <a href="http://localhost:8080/kcalog/db/meals/<%= meal._id %>" class="btn btn-secondary">View</a>
                </div>
                <img src="<%= meal.image %>" alt="<%= meal.name %>" class="img-fluid m-0 col-5">
            </div>
        </section>
    <% } %>
</div>
