<% layout('layouts/boilerplate') %>

<a href="http://localhost:8080/kcalog/db/meals" class="btn btn-light">All Meals</a>

<h2 class="display-3 fw-semibold my-3 text-capitalize"><%= foundMeal.name %></h2>



<img src="<%= foundMeal.image %>" alt="Image for <%= foundMeal.name %>" class="img-fluid my-3">


<section class="border d-flex justify-content-around align-items-center p-3">
    <div>
        <a  href="/kcalog/db/meals?serving=<%= foundMeal.serving %>" class="btn btn-light btn-lg mb-2"> 
            <h3><%= foundMeal.serving %></h3>
        </a>
        <p class="fw-bold text-muted">Serving</p>
    </div>
    
    <div>
        <h3 class="display-5"><%= foundMeal.getTotalKcal%></h3>
        <p class="fw-bold text-muted">Kcal</p>
    </div>

    <% if (foundMeal.serving === 'multi') { %>
        <div>
            <h3 class="display-5"><%= foundMeal.totalGrams %></h3>
            <p class="fw-bold text-muted">Total Grams</p>
        </div>

        <div>
            <h3 class="display-5"><%= foundMeal.getKcalPerGram * 100%></h3>
            <p class="fw-bold text-muted">Kcal Per 100g</p>
        </div>
    <% } %>

</section>

<section>
    <h3 class="display-4 fw-normal mt-4 mb-3">Ingredients</h3>
    <% for (let i of foundMeal.ingredients) { %>
        <h4 class="fs-4">
            <%= i.name %>
            <span class="fs-5 text-muted fw-normal border px-1 mx-2">
                <%= i.quantity %> <small><%= i.unit %> </small>
            </span>
            <span class="fs-5 text-muted fw-normal border px-1">
                <%= i.kcal %> <small>kcal</small>
            </span>
        </h4>
    <% } %>
</section>

<% if (foundMeal.tags) { %>
    <h3 class="display-4 fw-normal mt-4 mb-3">Tags</h3>
        <% for (tag of foundMeal.tags) { %>
            <a href="/kcalog/db/meals?tag=<%= tag %>" class="btn btn-light"><%= tag %></a>
        <% } %>
<% } %>

<% if (foundMeal.notes) { %>
    <h3 class="display-4 fw-normal mt-4 mb-3">Notes</h3>
    <p><%= foundMeal.notes %></p>
<% } %>

<a href= "http://localhost:8080/kcalog/db/meals/<%= foundMeal._id %>/edit" class="btn btn-secondary my-4">Edit</a>

<form action="/kcalog/db/meals/<%= foundMeal._id %>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-secondary">Delete</button>
</form>