<% layout('layouts/boilerplate') %>

<a href="/db/meals" class="btn btn-light btn-lg">All Meals</a>

<h1 class="display-5 fw-semibold text-capitalize mt-3"><%= meal.name %></h1>

<img src="<%= meal.image %>" alt="" class="my-3">


<section class="border d-flex justify-content-around align-items-center p-3">
    <div>
        <a href="/db/meals?serving=<%= meal.serving %>" class="btn btn-light btn-lg mb-2"> 
            <h2><%= meal.serving %></h2>
        </a>
        <p class="fw-bold text-muted">Serving</p>
    </div>
    
    <div>
        <h2><%= meal.totalKcal%></h2>
        <p class="fw-bold text-muted">Kcal</p>
    </div>

    <% if (meal.serving === 'full') { %>
        <div>
            <h2><%= meal.totalGrams %></h2>
            <p class="fw-bold text-muted">Total Grams</p>
        </div>

        <div>
            <h2><%= meal.kcalPerGram %></h2>
            <p class="fw-bold text-muted">Kcal Per Gram</p>
        </div>
    <% } %>

</section>

<section>
    <h2 class="display-6 fw-normal mt-4 mb-3">Ingredients</h2>
    <% for (let i of meal.ingredients) { %>
        <h3 class="fs-4">
            <%= i.name %>
            <span class="fs-5 text-muted fw-normal border px-1 mx-2">
                <%= i.quantity %> <small><%= i.unit %> </small>
            </span>
            <span class="fs-5 text-muted fw-normal border px-1">
                <%= i.kcal %> <small>kcal</small>
            </span>
        </h3>
    <% } %>
</section>

<!-- if TAGS isn't "empty" (i.e. [ "" ] )-->
<% if (meal.tags && meal.tags[0]) { %>
    <h2 class="display-6 fw-normal mt-4 mb-3">Tags</h2>
    <div>
        <% for (let tag of meal.tags) { %>
            <% if (tag !== '') { %>
                <a href="/db/meals?tag=<%= tag %>" class="btn btn-light"><%= tag %></a>
            <% } %>
        <% } %>
    </div>
<% } %>

<% if (meal.notes) { %>
    <h2 class="display-6 fw-normal mt-4 mb-3">Notes</h2>
    <p><%= meal.notes %></p>
<% } %>

<a href= "http://localhost:8080/db/meals/<%= meal._id %>/edit" class="btn btn-secondary my-4">Edit</a>

<form action="/db/meals/<%= meal._id %>?_method=DELETE" method="post" id="<%= meal.name %>" class="delete-form">
    <button type="submit" class="btn btn-secondary">Delete</button>
</form>

<script src="/scripts/meals.js"></script>
<script src="/scripts/deleteForms.js"></script>