<% layout('layouts/boilerplate') %>

<h1 class="display-5 fw-semibold mt-0 mb-3">All Daily Logs</h1>

<% for (let month of allMonths) { %>
    <h2 class="fs-2 fw-semibold text-capitalize mt-4 mb-0"><%= month.slice(4) %></h2>
    <div class="d-flex flex-wrap justify-content-center">
    <% for (let dailyLog of allDailyLogs) { %>
        <% if (dailyLog.month === month) { %>
            <section class="border border-secondary m-4 p-3 text-start col-10 col-md-5 col-xl-3">
                <h3 class="fs-3"><%= dailyLog.shortDate %></h3>
                <div class="row">
                    <div class="col d-flex flex-column justify-content-around py-2">
                        <p>Meal Kcal: <span class="fw-semibold"><%= dailyLog.totalMealKcal %></span></p>
                        <p>Workout Kcal: <span class="fw-semibold"><%= dailyLog.totalWorkoutKcal %></span></p>
                        <p>Kcal Balance: <span class="fw-semibold"><%= dailyLog.kcalBalance %></span></p>
                    </div>
                    <img src="<%= dailyLog.image %>" alt="" class="img-fluid m-0 col-4">
                </div>
                <a href="/logs/<%= dailyLog._id %>" class="btn btn-secondary col-12 mt-2">View</a>
            </section>
        <% } %>
    <% } %>
</div>
<% } %>