<% layout('layouts/boilerplate') %>

<a href="/logs/meals/new" class="btn btn-light btn-lg">New Meal Log</a>

<% if (category === 'all') { %>
    <h2 class="display-5 fw-semibold my-3">All Meal Logs</h2>
<% } else { %>
    <h2 class="display-5 fw-semibold my-3 text-capitalize"> <%= category %></h2>
    <a href="/logs/meals" class="btn btn-light">All Meal Logs</a>
<% } %>

<div class="d-flex flex-wrap justify-content-center">
    <% for (let mealLog of allMealLogs) { %>
        <section class="border border-secondary m-4 p-3 text-start col-10 col-md-5 col-xl-3">
            <h3 class="fs-3 text-capitalize"><%= mealLog.meal.name %></h3>
            <div class="row">
                <div class="col d-flex flex-column justify-content-around">
                        <p><%= mealLog.longDate %></p>
                        <p>Total Kcal: <span class="fw-semibold"><%= mealLog.kcal %></span></p>
                        <p>
                            <a href="/logs/meals/?category=<%= mealLog.category %>" class="text-capitalize btn btn-light"><%= mealLog.category %></a>
                        </p>
                </div>
                <img src="<%= mealLog.image %>" alt="<%= mealLog.name %>" class="m-0 col-4">
            </div>
            <a href="/logs/meals/<%= mealLog._id %>" class="btn btn-secondary col-12 mt-2">View</a>
        </section>
    <% } %>
</div>
