<% layout('layouts/boilerplate') %>

<a href="/logs/meals" class="btn btn-light btn-lg">All Meal Logs</a>

<h2 class="display-3 fw-semibold my-3 text-capitalize"><%= mealLog.meal.name %></h2>

<a href="/logs/<%= mealLog.dailyLog %>" class="btn btn-light btn-lg border fw-normal my-3"><%= mealLog.longDate %></a>

<img src="<%= mealLog.image %>" alt="" class="my-3 d-block mx-auto">

<section class="border d-flex justify-content-around align-items-center p-3">
    <div>
        <a  href="/logs/meals?category=<%= mealLog.category %>" class="btn btn-light btn-lg mb-2"> 
            <h3><%= mealLog.category %></h3>
        </a>
        <p class="fw-bold text-muted">Category</p>
    </div>

    <% if (mealLog.meal.serving === 'full') { %>
    <div>
        <h3 class="display-5"><%= mealLog.grams %></h3>
        <p class="fw-bold text-muted">Grams</p>
    </div>
    <% } %>
    
    <div>
        <h3 class="display-5"><%= mealLog.kcal %></h3>
        <p class="fw-bold text-muted">Kcal</p>
    </div>
</section>


<% if (mealLog.meal.serving === 'full') { %>
    <section id="full-section" class="border border-muted rounded-2 my-4 mx-auto p-3 text-start col-12 col-md-8 col-xl-6">
        <div class="row">
            <div class="col d-flex flex-column">
                <h3 class="fs-3 text-capitalize" id="full-name"><%= mealLog.meal.name %></h3>
                <p class="fw-semibold mb-1">Ingredients</p>
                <ul id="full-ingredients">
                    <% for (let i of mealLog.meal.ingredients) { %>
                        <li><%= i.name %></li>
                    <% } %>
                </ul>
                <p class="fw-semibold">Kcal Per Gram: <span id="full-kcal-per-gram" class="fw-normal"><%= mealLog.meal.kcalPerGram %></span></p>
            </div>

            <img id="full-image" src="<%= mealLog.meal.image %>" alt="" class="img-fluid m-0 col-5">
        </div>
    </section>
<% } else { %>
    <section>
        <h3 class="display-4 fw-normal mt-4 mb-3">Ingredients</h3>
        <% for (let i of mealLog.meal.ingredients) { %>
            <h4 class="fs-4">
                <%= i.name %>
                <span class="fs-5 text-muted fw-normal border px-1 mx-2">
                    <%= i.quantity %> <small><%= i.unit %> </small>
                </span>
                <span class="fs-5 text-muted fw-normal border px-1">
                    <%= i.kcal %> <small>kcal</small>
                </span>
            </h4>
        <% } %>
    </section>
<% } %>

<% if (mealLog.notes) { %>
    <h3 class="display-4 fw-normal mt-4 mb-3">Notes</h3>
    <p><%= mealLog.notes %></p>
<% } %>

<a href= "/logs/meals/<%= mealLog._id %>/edit" class="btn btn-secondary my-4">Edit</a>

<form action="/logs/meals/<%= mealLog._id %>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-secondary">Delete</button>
</form>